<div fxLayout="column" fxLayoutGap="1em">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Playlist information
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div *ngIf="playlist" fxLayout fxLayoutAlign="space-between">
      <div fxLayout="column" fxLayoutGap=".6em">
        <span>Title : {{playlist.title}}</span>
        <span>Duration : {{ playlist.duration | date:'HH:mm:ss'}}</span>
        <span>Author : {{ playlist.author?.name}}</span>
      </div>
      <img [src]="playlist.cover" alt="playlist-cover" class="cover">
    </div>
  </mat-expansion-panel>
  <!-- <div>
    <cdk-virtual-scroll-viewport itemSize="100" class="example-viewport" (scrolledIndexChange)="onScrollIndexChange($event)">
      <div *cdkVirtualFor="let track of tracks$ | async" class="example-item">{{track.id}}</div>
    </cdk-virtual-scroll-viewport>
  </div> -->
</div>
