<div fxLayout="column" fxLayoutGap="1em">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Playlist information
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div *ngIf="playlist" fxLayout fxLayoutAlign="space-between">
      <div fxLayout="column" fxLayoutGap=".6em">
        <span>Title : {{playlist.title}}</span>
        <span>Duration : {{ (playlist.duration * 1000) | date:'HH:mm:ss'}}</span>
        <span>Author : {{ playlist.author?.name}}</span>
      </div>
      <img [src]="playlist.cover" alt="playlist-cover" class="cover">
    </div>
  </mat-expansion-panel>
  <mat-card >
    <mat-card-header>
      <mat-card-title>VirtualScroll</mat-card-title>
    </mat-card-header>
    <div>
      <cdk-virtual-scroll-viewport class="tracks-viewport" [itemSize]="itemSize" [ngStyle]="{'height': scrollHeight + 'px' }" (scrolledIndexChange)="onScrollIndexChange($event)">
        <div *cdkVirtualFor="let track of tracks" [ngStyle]="{'height': itemSize + 'px'}" >
          <div class="track-item" fxLayout>
            <span *ngIf="track; else loading">{{track.title}}</span>
          </div>
        </div>
      </cdk-virtual-scroll-viewport>
    </div>
  </mat-card>
</div>
<ng-template #loading>Chargement...</ng-template>
