<div fxLayout="row wrap" fxLayoutGap="1em" fxLayoutAlign="start">
  <ng-container *ngFor="let playlist of playlists$ | async">
    <mat-card  class="playlist-card" (click)="goPlaylist(playlist.id)"
      fxFlex="0 1 calc(25% - 1em)"
      fxFlex.lt-lg="0 1 calc(33.3% - 1em)"
      fxFlex.lt-md="0 1 calc(50% - 1em)"
      fxFlex.lt-sm="100%">
      <mat-card-header>
        <mat-card-title>{{ playlist.title}}</mat-card-title>
      </mat-card-header>
      <img mat-card-image [src]="playlist.cover" alt="playlist-cover">
    </mat-card>
  </ng-container>
</div>
